# Configurações do Neo4j
NEO4J_USER=neo4j
NEO4J_PASSWORD=DuskCrown5
NEO4J_URI=bolt://neo4j:7687

# Configurações do Postgres
POSTGRES_USER=omnis_admin
POSTGRES_PASSWORD=Antennae4
POSTGRES_DB=omnis_metadata

# Chaves de API
OPENROUTER_API_KEY=

# Telegram
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_NAME=omnis_humint

# X
X_CONSUMER_KEY=
X_CONSUMER_SECRET=
X_ACCESS_TOKEN=
X_ACCESS_TOKEN_SECRET=

# Dashboard
DASHBOARD_USER=admin
DASHBOARD_PASS=admin